/* Video Area */
.youtubeVideosWrapper {
    background: #fff;
    padding: 50px;
  }
  
  .singleVideoWrapper {
    background: #f3f2f2;
    box-shadow: 4px 0px 13px rgba(158, 158, 158, 0.12);
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%; /* Make sure it takes full available width */
  }
  
  .videoInfoWrapper {
    padding: 10px 20px;
    text-align: left;
  }
  
  .videoDesc {
    font-size: 0.9em;
    color: #0f0d0d;
  }
  
  .videoTitle {
    font-weight: 700;
    line-height: 1.2em;
  }
  
  .videoTitle a {
    color: #000;
  }
  
  .video-title-wrapper {
    padding: 50px 0;
    font-weight: 1300;
    font-size: 25px;
  }
  
  .videoThumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .active {
    font-weight: bold;
    color: #0071e3 !important;
  }
  